$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor; /* Set the background color */
  color: $bodyColor; /* Set the text color */
  font-family: $bodyFont; /* Set the font family */
  display: flex; /* Use flexbox to center align */
  justify-content: center; /* Horizontally center align */
  align-items: center; /* Vertically center align */
  height: 100vh; /* Set the height to the full viewport height */
  margin: 0; /* Remove default margin */
}

/* Apply styles to the body content */
.content {
  margin-top: 50px; /* Adjust margin-top to accommodate the height of the navigation bar */
  width: 50%; /* Occupy full width */
  text-align: justify;
}

/* Restrict the width of images within the .content container */
.content img {
  max-width: 100%; /* Set the maximum width to 100% of the container */
}

/* Center-align captions below images */
figcaption {
  text-align: center;
}