.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-family: $bodyFont;
    color: $bodyColor;
    background-color: $backgroundColor;
  }
  
  .footer-link {
    color: $bodyColor;
    text-decoration: none;
    margin: 0 15px;
    display: inline-flex;
    align-items: center;
  }
  
  .footer-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    filter: grayscale(100%);
  }
