nav {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
  margin: 0 8px;
}

nav a:hover {
  background-color: #555;
}

nav .current {
  font-weight: bold;
}
