<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-GB" }}">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>{{ page.title }} - {{ site.title }}</title>
    
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    
    {% feed_meta %}
    {% seo %}
  </head>

  <body>

    {% include navigation.html %}
    
    <div class="content">
      {{ content }}
    </div>

  </body>

  <footer class="footer">
    <a href="https://github.com/mark-hobbs" target="_blank" class="footer-link">
      <img src="{{ "/assets/images/github-logo.png" | relative_url }}" alt="GitHub" class="footer-icon">
      GitHub
    </a>
    <a href="mailto:markhobbs91@gmail.com" class="footer-link">
      <img src="{{ "/assets/images/mail.png" | relative_url }}" alt="Email" class="footer-icon">
      Contact
    </a>
  </footer>

</html>