<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-GB" }}">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>{{ page.title }} - {{ site.title }}</title>
    
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    
    {% feed_meta %}
    {% seo %}

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          processEscapes: true
        }
      });
    </script>
    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  </head>

  <body>

    {% include navigation.html %}
    
    <div class="content">
      {{ content }}
    </div>

    <footer class="footer">
      <a href="https://github.com/mark-hobbs" target="_blank" class="footer-link">
        <img src="{{ "/assets/images/github-logo.png" | relative_url }}" alt="GitHub" class="footer-icon">
        GitHub
      </a>
      <a href="mailto:markhobbs91@gmail.com" class="footer-link">
        <img src="{{ "/assets/images/mail.png" | relative_url }}" alt="Email" class="footer-icon">
        Contact
      </a>
    </footer>

  </body>

</html>